  
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@700&display=swap');
svg {
  width: 100%; 
  margin-top: 60px;
}
svg text {
  font-family: 'KoHo', sans-serif;
  /* text-transform: uppercase; */
  animation: stroke 4s 1 alternate;
  stroke-width: 1;
  stroke: #ffffff;
  font-size: 100px;
  font-weight: 700;
}
@keyframes stroke {
  0%   {fill: rgba(255, 255, 255, 0.5); stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 1;}
  70%  {fill: rgba(255, 255, 255, 0.1); stroke: rgb(204, 224, 255); }
  80%  {fill: rgba(72,138,20,0.3); stroke: rgba(41,77,135,1); stroke-width: 2; }
  100% {fill: rgb(255, 255, 255); stroke: rgba(6, 101, 255); 
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 1;}
  }
    